body {
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	font-family: Source Sans Pro;
}

h5	{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: .3em;
}

p {
	padding-left: 5px;
}

div p:nth-of-type(1) {
	border-left: 5px solid #bdc3c7;
}

h2	{
	color: #2c3e50;
	font-size: 2.0rem;

}

/* Glyph, by Harry Roberts */

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr:after {
    content: "*";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}